
/src/TestApplication1Tests/obj
/src/TestApplication1Tests/bin
/src/_ReSharper.TestApplication1
/src/TestApplication1Tests/obj
/src/TestApplication1Tests/bin
/src/TestApplication1/obj
/src/TestApplication1/bin